<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="prefix" default=""/>
  

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="$(arg prefix)" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <xacro:arg name="hand" default="true" />
  
  <xacro:if value="$(arg hand)">
      <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
      <xacro:hand arm_id="ur5" rpy="0 0 0" connected_to="$(arg prefix)tool0" />
  </xacro:if>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "$(arg prefix)base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>
</robot>
